body{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.background {
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.menu, .headline, .cta {
  /* font-family: 'Helvetica Neue'; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.sub-head
