body{
  background-size: cover;
  /* background-repeat: no-repeat; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

.menu, .headline, .subhead{
  color: white;
}

.page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-right: calc(12vw - 100 * ((100vw - 320px) / 1600));
  padding-left: calc(12vw - 100 * ((100vw - 320px) / 1600));
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;

}

@media only screen and (min-width: 1440px){
  .page-layout {
    padding-right: calc(10vw - 200 * ((100vw - 1440px) / 480));
    padding-left: calc(10vw - 200 * ((100vw - 1440px) / 480));
  }
}
