.content-block {
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-delay: 1.8s;
  display: flex;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.headline {
  line-height: .9;
  font-weight: bold;
  font-size: calc(40px + 45 * ((100vw - 320px) / 1600));
  margin-bottom: 1.7rem;
  flex-basis: 60%;
  max-width: 60%;
}

.subhead {
  flex-grow: 1;
  flex-basis: 12rem;
  max-width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  align-items: center;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 2;

}


.cta-block {
  margin-top: auto;
  background-color: white;
  height: 18vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  animation-name: slideRight;
  animation-duration: 1.2s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0);
  }
}


.cta {
  flex-basis: 55%;
  max-width: 55%;
  font-weight: 800;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  margin-left: 5vw;
}

.lets-talk {
  display: flex;
  align-items: center;
  font-size: calc(12px + 1 * ((100vw - 320px) / 1600));
  flex-grow: 1;
  margin-left: 1rem;
}

.lets-talk > span {
  font-weight: 800;
  cursor: pointer;
}

.cta-arrow {
  fill: #FFC555;
  margin-left: 1rem;
  cursor: pointer;
  flex-basis: 2rem;
}
