.content-block {
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}

.headline {
  line-height: .9;
  font-weight: bold;
  font-size: calc(40px + 45 * ((100vw - 320px) / 1600));
}

.subhead {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  align-items: center;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  flex-basis: 10rem;
  line-height: 2;
}


.cta-block {
  margin-top: auto;
  background-color: white;
  height: 18vh;
  align-items: center;
}

.cta {
  text-align: center;
  font-weight: 800;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
}

.lets-talk {
  display: flex;
  align-items: center;

  font-size: calc(12px + 1 * ((100vw - 320px) / 1600));
}

span {
  font-weight: 800;
  cursor: pointer;
}

.cta-arrow {
  fill: #FFC555;
  margin-left: 1rem;
  cursor: pointer;
  flex-basis: 5rem;
}
