.header-block {
  animation-name: slideTop;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-delay: .3s;
}

@keyframes slideTop {
  0% {
    transform: translateY(-1200px);
  }
  100% {
    transform: translateY(0);
  }
}


.header {
  padding-top: 3.5vh;
  padding-right: 0;
  align-items: center;
}

.menu {
  padding-left: 0;
}

.menu-item {
  cursor: pointer;
  width: 100px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  transition: transform .2s;
}

.menu-item:hover {
  transform: scale(1.1);
}

.menu-active {
  color: #DAB205;
}

.contact{
  text-align: right;
  padding-left: 0;
}

.contact-button {
  border-color: white;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 0;
  height: calc(2.3rem + 5 * ((100vw - 320px) / 1600));
  width: calc(120px + 23 * ((100vw - 320px) / 1600));
  font-weight: bold;
  font-size: calc(.8rem + 1 * ((100vw - 320px) / 1600));
}

.contact-button:hover {
  color: #DAB205;
}


@media only screen and (max-width: 285px){
  .contact-button{
    display: none;
  }
}

.logo{
  width: calc(77px + 23 * ((100vw - 320px) / 1600));
  cursor: pointer;
}
